@model IEnumerable<Edu_Hub_Project.Models.FeedbackUser>

@{
    ViewData["Title"] = "List";
    Layout = "/Views/Shared/_LayoutEducator.cshtml";
}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @* <th class="text-center">Actions</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @* <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger btn-sm" })
                </td> *@
            </tr>
        }
    </tbody>
</table>

<style>
    .table {
        margin-top: 20px;
    }
    .table th, .table td {
        vertical-align: middle;
    }
    .thead-dark th {
        background-color: #343a40;
        color: white;
    }
</style>
