@model IEnumerable<Edu_Hub_Project.Models.Enquiry>

@{
    ViewData["Title"] = "Enquiry List";
    Layout = "/Views/Shared/_LayoutStudent.cshtml";
}

<h1 class="text-center text-primary font-weight-bold my-4">Enquiry List</h1>

<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                @* <th>@Html.DisplayNameFor(model => model.EnquiryId)</th>
                <th>@Html.DisplayNameFor(model => model.UserId)</th>
                <th>@Html.DisplayNameFor(model => model.CourseId)</th> *@
                <th>@Html.DisplayNameFor(model => model.Subject)</th>
                <th>@Html.DisplayNameFor(model => model.Message)</th>
                <th>@Html.DisplayNameFor(model => model.EnquiryDate)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.Response)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>@Html.DisplayFor(modelItem => item.EnquiryId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseId)</td> *@
                    <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    <td>@Html.DisplayFor(modelItem => item.EnquiryDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Response)</td>
                    @* <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.EnquiryId }, new { @class = "btn btn-warning btn-sm" }) 
                        @Html.ActionLink("Details", "Details", new { id = item.EnquiryId }, new { @class = "btn btn-info btn-sm" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnquiryId }, new { @class = "btn btn-danger btn-sm" })
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .table th, .table td {
        vertical-align: middle;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    .table-striped tbody tr:hover {
        background-color: #f1f1f1;
    }
    .font-weight-bold {
        font-weight: bold;
    }
    .text-primary {
        color: #337ab7;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }
    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }
    .thead-dark {
        background-color: #333;
        color: #fff;
    }
</style>