@model IEnumerable<Edu_Hub_Project.Models.Enquiry>

@{
    ViewData["Title"] = "Enquiry List";
    Layout = "/Views/Shared/_LayoutEducator.cshtml";
}

<div class="container">
    <h1 class="text-center mb-4">Enquiry List</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnquiryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnquiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Response)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnquiryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnquiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Response)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EnquiryId" class="btn btn-sm btn-primary">Edit</a>
                        @* <a asp-action="Details" asp-route-id="@item.EnquiryId" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.EnquiryId" class="btn btn-sm btn-danger">Delete</a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>